
.table-view{
    -fx-font-size: 16;
}

.table-view .column-header{
    -fx-border-color:#ffffff;
    -fx-border-width:0 1 0 0;
    -fx-alignment: center;
    -fx-pref-width: 200;
    -fx-pref-height: 46;
}

.table-view
.table-view .placeholder {
    -fx-background-color: transparent;
}
.table-column {
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.table-row-cell .table-cell {
    -fx-border-width: 3px;
}
.table-row-cell:selected{
    -fx-text-fill: black;
    -fx-background-color: #007FE1;
}
.button{
    -fx-font-size: 15;
    -fx-pref-width: 90;
    -fx-background-radius: 20;
}
.choice-box{
    -fx-pref-width: 79;
    -fx-background-radius: 20;
}
